<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{% macro virhe_ilmoitus(text) %}
<div class="alert alert-danger">
    <ul>
        <li>Kenttä {{text}} oli tyhjä tai siinä oli väärä arvo</li>
    </ul>
</div>
{% endmacro %}

{% macro puolue(text) %}
{% if text == 1 %}
<td>Keskusta</td>
{% elseif text == 2 %}
<ul>
    <li>Keskusta</li>
</ul>
{% elseif text == 3 %}
<ul>
    <li>Keskusta</li>
</ul>
{% elseif text == 4 %}
<ul>
    <li>Keskusta</li>
</ul>
{% elseif text == 5 %}
<ul>
    <li>Keskusta</li>
</ul>
{% elseif text == 6 %}
<ul>
    <li>Keskusta</li>
</ul> 
{% elseif text == 7 %}
<ul>
    <li>Keskusta</li>
</ul> 
{% endif %}
{% endmacro %}



