{% extends "base.html" %}
{% block content %}
<h1>Kaikki kysymykset</h1>

<p>
    <a href="{{base_path}}/lisaaKysymys" class="btn btn-success">Lisää kysymys</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Kysymyksen id</th>
            <th>Kysymys</th>
            <th>Istunto</th>
            <th>Paivämäärä</th>
            <th>Linkki äänestykseen</th>
            <th>Kysymyksen vastauksiin</th>
            <th>Poista kysymys</th>
        </tr>
    </thead>
    <tbody>
        {% for kysymys in kysymykset %}
        <tr>
            <td>{{kysymys.id}}</td>
            <td>{{kysymys.kysymys}}</td>
            <td>{{kysymys.istunto}}</td>
            <td>{{kysymys.paivamaara}}</td>
            <td><a class="btn" href="{{kysymys.linkki}}">Äänestyksen sivuille</a></td>
            <td><a class="btn btn-success" href="{{base_path}}/kysymykset/{{kysymys.id}}">Vastauksiin</a></td>
            <td><a class="btn btn-danger" href="{{base_path}}/poistaKysymys/{{kysymys.id}}">Poista</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}