{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>Muokkaa puolueen {{tulos.puolue_id}} vastaus kysymykseen {{tulos.kysymys_id}}</h1>

{% if errors %}
{% for error in errors %}
{{forms.virhe_ilmoitus('#{error}')}} 
{% endfor %}
{% endif %}


<form method="post" action="{{base_path}}/paivita/{{tulos.id}}">

    <div class="form-group">
        <input name="puolue_id" class="form-control" value="{{tulos.puolue_id}}" type="hidden">
    </div>
    <div class="form-group">
        <input name="kysymys_id" class="form-control" value="{{tulos.kysymys_id}}"  type="hidden">
    </div>
    <div class="form-group">
        <label>tulos (jaa/ei/eos)</label>
        <input name="tulos" class="form-control" value="{{tulos.tulos}}"  type="text">
    </div>
    <div class="form-group">
        <label>jaa (montako numeroina)</label>
        <input name="jaa" class="form-control" value="{{tulos.jaa}}" type="text">
    </div>
    <div class="form-group">
        <label>ei (montako numeroina)</label>
        <input name="ei" class="form-control" value="{{tulos.ei}}" type="text">
    </div>
    <div class="form-group">
        <label>tyhjia (montako numeroina)</label>
        <input name="tyhja" class="form-control" value="{{tulos.tyhja}}"  type="text">
    </div>
    <div class="form-group">
        <label>poissa (montako numeroina)</label>
        <input name="poissa" class="form-control" value="{{tulos.poissa}}"  type="text">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Päivitä</button>
    </div>
</form>


{% endblock %}