{% extends "base.html" %}
{% block content %}
<h1>Kansalaisaloite avioliiton säilyttämisestä aidosti tasa-arvoisena, miehen ja naisen välisenä liittona ja sukupuolineutraalin avioliittolain kumoamisesta</h1>
<h3>eli tulisiko avioliitto säilyttää aidosti tasa-arvoisena, miehen ja naisen välisenä liittona ja sukupuolineutraali avioliittolaki kumota</h3>

<p>
    <a href="{{base_path}}/lisaaVastaus" class="btn btn-success">Lisää tulos</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Puolueen id</th>
            <th>Tulos</th>
            <th>Jaa</th>
            <th>Ei</th>
            <th>Tyhjiä</th>
            <th>Poissa</th>
        </tr>
    </thead>
    <tbody>
        {% for tulos in tulokset %}

        <tr>
            <td>{{tulos.id}}</td>
            <td>{{tulos.tulos}}</td>
            <td>{{tulos.jaa}}</td>
            <td>{{tulos.ei}}</td>
            <td>{{tulos.tyhja}}</td>
            <td>{{tulos.poissa}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}