{% extends "base.html" %}
{% block content %}

<h1>Sopivimmat puolueet</h1>


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Puolue</th>
            <th>Monta kertaa samaa mieltä</th>
            <th>Tarkastele vastauksia</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Keskusta</td>
            <td>{{nimi.keskusta}}</td>
            <td><a href="{{base_path}}/puolueenVastaukset/1/{{nimi.id}}">Vastauksiin</a></td>
        </tr>
        <tr>
            <td>Sdp</td>
            <td>{{nimi.sdp}}</td>
            <td><a href="{{base_path}}/puolueenVastaukset/2/{{nimi.id}}">Vastauksiin</a></td>
        </tr>
        <tr>
            <td>Kokoomus</td>
            <td>{{nimi.kokoomus}}</td>
            <td><a href="{{base_path}}/puolueenVastaukset/3/{{nimi.id}}">Vastauksiin</a></td>
        </tr>
        <tr>
            <td>Rkp</td>
            <td>{{nimi.rkp}}</td>
            <td><a href="{{base_path}}/puolueenVastaukset/4/{{nimi.id}}">Vastauksiin</a></td>
        </tr>
        <tr>
            <td>Persut</td>
            <td>{{nimi.persut}}</td>
            <td><a href="{{base_path}}/puolueenVastaukset/5/{{nimi.id}}">Vastauksiin</a></td>
        </tr>
        <tr>
            <td>Vihreät</td>
            <td>{{nimi.vihreat}}</td>
            <td><a href="{{base_path}}/puolueenVastaukset/6/{{nimi.id}}">Vastauksiin</a></td>
        </tr>
        <tr>
            <td>Kd</td>
            <td>{{nimi.kd}}</td>
            <td><a href="{{base_path}}/puolueenVastaukset/7/{{nimi.id}}">Vastauksiin</a></td>
        </tr>
        <tr>
            <td>Vasemmisto</td>
            <td>{{nimi.vasemmisto}}</td>
            <td><a href="{{base_path}}/puolueenVastaukset/8/{{nimi.id}}">Vastauksiin</a></td>
        </tr>
        
    </tbody>
</table>
{% endblock %}