{% extends "base.html" %}
{% block content %}

<h1>Sopivimmat puolueet</h1>


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Puolue</th>
            <th>Monta kertaa samaa mieltä</th>
            <th>Tarkastele vastauksia</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Keskusta</td>
            <td>{{nimi.keskusta}}</td>
            <td>Vastauksiin</td>
        </tr>
        <tr>
            <td>Sdp</td>
            <td>{{nimi.sdp}}</td>
            <td>Vastauksiin</td>
        </tr>
        <tr>
            <td>Kokoomus</td>
            <td>{{nimi.kokoomus}}</td>
            <td>Vastauksiin</td>
        </tr>
        <tr>
            <td>Rkp</td>
            <td>{{nimi.rkp}}</td>
            <td>Vastauksiin</td>
        </tr>
        <tr>
            <td>Persut</td>
            <td>{{nimi.persut}}</td>
            <td>Vastauksiin</td>
        </tr>
        <tr>
            <td>Vihreät</td>
            <td>{{nimi.vihreat}}</td>
            <td>Vastauksiin</td>
        </tr>
        <tr>
            <td>Kd</td>
            <td>{{nimi.kd}}</td>
            <td>Vastauksiin</td>
        </tr>
        <tr>
            <td>Vasemmisto</td>
            <td>{{nimi.vasemmisto}}</td>
            <td>Vastauksiin</td>
        </tr>
        
    </tbody>
</table>
{% endblock %}