{% extends "base.html" %}
{% block content %}
<h1>Mitä</h1>
<br>
<h4>Ajattelin, että voisin tehdä puolueiden äänestyksiin perustuvan vaalikoneen.
    <br>Ajatuksena on, että katsoisin eduskunnan sivuilta, miten puolueet ovat 
    <br>äänestäneet ja loisin sen kautta vaalikoneen. Kyseessä olisi siis 
    <br>nimenomaan puoluekantaa tarkasteleva vaalikone. 
    <br>
    <br>Kone voisi vaikka arpoa 10 kysymystä, jotka hallinto on sille syöttänyt.
    <br>Jokainen vastaus liikuttaisi seuraavaan kysymykseen. Kysymysten alla 
    <br>voisi olla kenttä, joka osoittaa, missä kysymyksessä ollaan menossa. 
    <br>Viimeisen kysymyksen jälkeen kone näyttäisi automaattisesti sopivimman 
    <br>puolueen.
</h4>



{% endblock %}